.Room{
  width: 60%;
  margin: 30px auto;
  padding: 10px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 20px;
}
h2, h3{
  text-align: center;
  color: wheat;
}
.btnSuccess{
  display: flex;
  margin: auto;
}
.btnDanger{
  float: right;
  margin: 4px;
}
.alertDanger, .FormControl{
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 20px;
}
.FormControl{
  margin: 12px auto;
}
.messageList{
  list-style-type: none;
  text-align: center;
  color: black;
  margin: 0;
}
.messageList li{
  font-size: 20px;
}
.chatBox{
  overflow-y: scroll;
  height: 204px;
}
.chatContainer{
  background-color: rgba(255,255,255,0.4);
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}
.myMsg{
  color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.myMsg p {
  margin: 0;
  padding: 6px 20px;
  border-radius: 20px;
  background-color: darkgreen
}
.othersMsg{
  color: #404081;
  text-align: left;
}
.othersMsg p{
  margin: 0;
  width: fit-content;
  padding: 6px 20px;
  border-radius: 20px;
  background-color: #ccc;
}