.loginBox{
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    display: flex;
    flex-flow: column;
}
.box{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
}